body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: lightsteelblue;
    color:rgb(8, 11, 5)
}

h1 {
    color: hsl(258, 41%, 32%);
    font-family:'Franklin Gothic Medium', serif;
}

p {
    color: #4d132e82;
}

h2 {
    color: #505b08;
    font-family:'Franklin Gothic Medium', sans-serif;
}